
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    /* color from the site itself */
    background-color: #202124;
    /* the following makes sure everything is on the center */
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}

.app{
    display: flex;
    /* very specific w & h because the boxes are not very responsive
    just like the offical site */
    width: 625px;
    height: 360px;
}

/* genereric input that it's no specific, should be up
here since there's more specific ones below */
input{
    border: 1px solid #8ab4f8;
    border-radius: 8px;
    box-sizing: border-box;
    color: #bdc1c6;
    font-size: 14px;
    height: 40px;
    background-color: transparent;
    width: 100%;
}

/* styling both at the same time */
.output, .input{
    display: flex;
    flex-direction: column;
    width: 300px;
}

textarea{
    background-color: transparent;
    /* color taken from the site itself */
    color: #bdc1c6;
    border: none;
    resize: none;
    padding:18px;
    height:146px;
    border-radius: 10px;
    outline: none;
    /* makes it so we can scroll in the text area itself */
    overflow: auto;
    font-size: 28px;
    margin-top: 10px;
}

/* any textarea in that lives in output class in TextBox  */
.output textarea{
    background-color: #303134;
}

/* input from the select-drop-down */
.select-drop-down input{
    color: #8ab4f8;
/* 5 to the top, 15 to the sides */
    padding: 5px 15px;
    font-size: 15px;

}

/* in SelectDropDown component, the arrow */
.select-drop-down .down-arrow svg{
/* changing the arrow's position from below
the text input, the the right hand side */
    position: relative;
    left: 265px;
    top:-33px;
    width:26px;
    height:26px;
/* with svgs we change colors with fill */
    fill: #8ab4f8;
}

.arrow-container {
    padding: 15px;
}

.arrow-container svg{
    width: 26px;
    height:26px;
    fill: #5a5a5a;
}

/* styling the modal */
.option-list {
    width:100%; 
}
.search-bar {
    width:100%; 
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search-bar input {
    /* from website, and no repeat at the end - image of a magnifying glass*/
    background: url(https://www.gstatic.com/images/icons/material/system/2x/search_grey600_24dp.png) right 8px center no-repeat;
    background-size: 24px 24px;
    padding-left: 16px;
    padding-right: 40px;
    width: 90% !important;
    outline: none;
  }
  
  .search-bar .close-button svg {
    width: 30px;
    height: 30px;
    padding: 6px;
    fill: #5a5a5d;
  }
  
  .option-container {
    height: 250px;
    /* allows us to scroll through all the options */
    overflow: auto;
  }
  
  .option-list ul {
    margin: 15px;
    padding: 0;
/* hard coded the height of the list itself because we're going
to make it into three columns */
    height: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
  }
  
  .option-list li {
    color: #bdc1c6;
    font-size: 14px;
    padding: 8px;
    /* no bullet points */
    list-style-type: none;
    border-radius: 4px;
  }
  
  .option-list li:hover {
    background-color: #5a5a5d;
  }
  
  /* for icon and list item to be next to each other */
  .list-item {
    display: flex;
  }
  /* for chosen language icon */
  .list-item .icon {
    padding: 8px;
    width: 11px;
    color: #8ab4f8;
  }
  
  .button-container {
    color:#bdc1c6;
    padding: 18px;
    height: 20px;
  }
  
  /* .select-drop-down input {
    color: #8ab4f8;
    padding: 5px 15px;
    font-size: 15px;
  } */
  
  /* .select-drop-down .down-arrow svg {
    position: relative;
    left: 265px;
    top: -33px;
    width: 26px;
    height: 26px;
    fill: #8ab4f8;
  } */
  
  .input .delete {
    position: relative;
    left: 265px;
    top: -156px;
    font-size: 50px;
    color:#bdc1c6;
  }